.navbar{
    display: flex;
    box-shadow: rgba(2, 103, 98, 0.15) 0px -2px 10px 0;
    /* box-shadow A propriedade é uma lista de sombras separadas por vírgula*/
    justify-content: space-between;
    /* space-between -> separa do do lado esquerdo e menu do lado direito da tela */
    align-items: center;
    padding: .5em 2em;
    

}

.brad{
    font-size: 1.4em;
    font-weight: 500; 
}

.brad span{
    font-weight: 900;
    text-transform: uppercase;
    color: #ff6400;

}
.links_list{
    display: flex;
    list-style: none;
    font-size: 1.2em;
    font-weight: 500;

}
.links_list li a{
    padding: .4em .6em;
}

.active{
    background-color: #026762;
    color: #ffffff;

}